@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
    justify-items: center;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    padding-bottom: 20px;
    justify-items: center;
}

.document {
    width: 750px;
    height: 950px;
    justify-items: center;
}   